[Unit]
Description=Check BlancVPN connectivity every 30 seconds

[Timer]
OnBootSec=45s
OnUnitInactiveSec=30s
AccuracySec=5s
Persistent=true
Unit=blancctl-failover.service

[Install]
WantedBy=timers.target
